body{
    height :100%;
    background-image: url(/static/Picture/aa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
html{
	margin: 0;
	padding: 0;
	height: 100%;
    width : 100%;

}
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #33685e;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
}
.login_btn {
	width: 100%;
	background: #e3470c ;
	color: white;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #331a0e !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.bg-image {
 background-image: url ('aa.jpg')
 width:100%;
 padding:150px 0;
}
.btn_google {
    background-color :#e18d77;
    color :#000;
}
.btn_facebook {
    background-color : #405D9D;
    color :#000;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
